body
    font-family 'Lucida Grande', Arial

header
section
footer
    text-align center

header
    background #ea6060
    padding-bottom 20px

    h1
        font-size 32px
        padding 20px 0
        color #fff

    a
        color #fff

section
    font-size 20px
    padding 200px 0
    background #f8f8f8

footer
    background #3f3f3f
    padding 15px
    color #fff
