@import variables

@font-face
   font-family NueLight
   font-style normal
   src url(../font/HelveticaNeue-UltraLight.otf)

@font-face
   font-family NueBold
   font-style normal
   src url(../font/HelveticaNeue-Light.otf)

body
    font-family NueLight

body
a
a:visited
    color $gray

/*
*
* Sprite Example Usage:
*
*
* You must import the mixins file
*
* @import mixins
*
*
* Default:
*
* .myClassName
*     getSprite $myImageFileName
*
* Retina:
*
* .myClassName
*     getSprite $myImageFileName $myRetinaImageFileName-2x
*
*/

/*
@import mixins

// Default
body
    getSprite $check

// Retina
body
    getSprite $check $check-2x
*/
