@import mixins

header
    height 55px
    padding-top 10px
    border-bottom 1px solid $yellow

    div
        alignment()

    p
        float left

        a
            font-size 40px
            font-weight 700
            color $yellow

    ul
        float right

        li
            float left
            padding 15px 30px
