/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;
*/
$check-2x_x = 0px;
$check-2x_y = 0px;
$check-2x_offset_x = 0px;
$check-2x_offset_y = 0px;
$check-2x_width = 64px;
$check-2x_height = 64px;
$check-2x_total_width = 130px;
$check-2x_total_height = 64px;
$check-2x_image = '/img/sprite-retina.png';
$check-2x = 0px 0px 0px 0px 64px 64px 130px 64px '/img/sprite-retina.png';
$delete-2x_x = 66px;
$delete-2x_y = 0px;
$delete-2x_offset_x = -66px;
$delete-2x_offset_y = 0px;
$delete-2x_width = 64px;
$delete-2x_height = 64px;
$delete-2x_total_width = 130px;
$delete-2x_total_height = 64px;
$delete-2x_image = '/img/sprite-retina.png';
$delete-2x = 66px 0px -66px 0px 64px 64px 130px 64px '/img/sprite-retina.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
