<!-- home:begin -->
<div class="home">
    <h2>Grabs</h2>
    <h1>Hazır Geliştirme Ortamı</h1>
    <p>Geliştirme ortamınız saniyeler içerisinde hazır.</p>

    <ul class="brands">
        <li>
            <a href="http://gruntjs.com/">Grunt</a>
            <h3>Grunt</h3>
            <p>Grunt eklentileri ile dilediğiniz görevi projenize ekleyebilirsiniz.</p>
        </li>
        <li>
            <a href="https://angularjs.org/">Angular</a>
            <h3>Angular</h3>
            <p>Angular desteği ile anında projenizi geliştirmeye başlayabilirsiniz.</p>
        </li>
        <li>
            <a href="http://bower.io/">Bower</a>
            <h3>Bower</h3>
            <p>Bower ile dışarı bağımlı olduğunuz kütüphanelerin dosyalarını çekebilirsiniz.</p>
        </li>
        <li>
            <a href="http://learnboost.github.io/stylus/">Stylus</a>
            <h3>Stylus</h3>
            <p>Stylus dosyalarınızın CSS'e derlenmesini ve sıkıştırılmasını sağlayabilirsiniz.</p>
        </li>
    </ul>
</div>
<!-- home:end -->

<!-- team:begin -->
<div class="team">
    <h2>Grabs</h2>
    <h1>Geliştirme Ekibi</h1>
    <p>Sizde burada yer almak isterseniz projeyi geliştirmemize yardım edebilirsiniz.</p>

    <div>
        <ul class="team-members">
            <li>
                <img src="http://labs.sahibinden.com/images/avatars/sercaneraslan.jpg" />
                <h3>Sercan Eraslan</h3>
                <span>Sr. Front-End Developer</span>
                <p>Grabs projesinin kurucusu ve geliştiricisi. Sahibinden.com'da Sr. Front-End Developer. "30 dakikada XHTML", "40 dakikada CSS" ve "25 dakikada HTML5" e-kitaplarının yazarı. Açık kaynak sevdalısı. Kahve bağımlısı.</p>
                <ul class="social">
                    <li>
                        <a href="https://www.linkedin.com/in/seraslan">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/sercaneraslan">
                            <i class="fa fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/sercan_eraslan">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://bitbucket.org/sercaneraslan">
                            <i class="fa fa-bitbucket"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://codepen.io/sercaneraslan/">
                            <i class="fa fa-codepen"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="alignment-right">
                <img src="http://labs.sahibinden.com/images/avatars/ermanceylan.jpg" />
                <h3>Erman Ceylan</h3>
                <span>Front-End Developer</span>
                <p>Grabs.in websitesinin geliştiricisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. of Quisque ultricies vestibulum molestie. Graphic Design the power of Suspendisse ultricies Graphic Design</p>
                <ul class="social">
                    <li>
                        <a href="https://github.com/sercaneraslan/grabs">
                            <i class="fa fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/sercaneraslan/grabs">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/sercaneraslan/grabs">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- team:end -->
