<!-- home:begin -->
<div class="container home">
    <h2>
        We are Grabs
    </h2>
    <h1>
        We Design your Future
    </h1>
    <ul class="brands">
        <li>
            <a href="#" target="_blank">
                Grunt
            </a>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
            </p>
        </li>
        <li>
            <a href="#" target="_blank">
                AngularJS
            </a>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
            </p>
        </li>
        <li>
            <a href="#" target="_blank">
                Bower
            </a>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
            </p>
        </li>
        <li>
            <a href="#" target="_blank">
                Stylus
            </a>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
            </p>
        </li>
    </ul>
</div>
<!-- home:end -->

<!-- team:begin -->
<div class="team">
    <h2>
        Grabs
    </h2>
    <h1>
        Our Team
    </h1>
    <div class="container">
        <ul class="team-members">
            <li>
                <img src="http://labs.sahibinden.com/images/avatars/sercaneraslan.jpg" />
                <h3>
                    Sercan Eraslan
                </h3>
                <span>
                    Front-End Developer
                </span>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. of Quisque ultricies vestibulum molestie. Graphic Design the power of Suspendisse ultricies Graphic Design the power of Suspendisse potenti
                </p>
                <ul class="social">
                    <li>
                        <a href="https://github.com/sercaneraslan/grabs" target="_blank">
                            <i class="fa fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/sercaneraslan/grabs" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/sercaneraslan/grabs" target="_blank">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="alignment-right">
                <img src="http://labs.sahibinden.com/images/avatars/ermanceylan.jpg" />
                <h3>
                    Erman Ceylan
                </h3>
                <span>
                    Front-End Developer
                </span>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. of Quisque ultricies vestibulum molestie. Graphic Design the power of Suspendisse ultricies Graphic Design the power of Suspendisse potenti
                </p>
                <ul class="social">
                    <li>
                        <a href="https://github.com/sercaneraslan/grabs" target="_blank">
                            <i class="fa fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/sercaneraslan/grabs" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/sercaneraslan/grabs" target="_blank">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- team:end -->
