<!-- home:begin -->
<div class="container home">
    <h2>Grabs</h2>
    <h1>Hazır Geliştirme Ortamı</h1>
    <p>Geliştirme ortamınız saniyeler içerisinde hazır.</p>
    <ul class="brands">
        <li>
            <a href="#">Grunt</a>
            <h3>Grunt</h3>
            <p>Grunt eklentileri ile dilediğiniz görevi projenize ekleyebilirsiniz.</p>
        </li>
        <li>
            <a href="#">Angular</a>
            <h3>Angular</h3>
            <p>Angular desteği ile anında projenizi geliştirmeye başlayabilirsiniz.</p>
        </li>
        <li>
            <a href="#">Bower</a>
            <h3>Bower</h3>
            <p>Bower ile dışarı bağımlı olduğunuz kütüphanelerin dosyalarını çekebilirsiniz.</p>
        </li>
        <li>
            <a href="#">Stylus</a>
            <h3>Stylus</h3>
            <p>Stylus dosyalarınızın CSS'e derlenmesini ve sıkıştırılmasını sağlayabilirsiniz.</p>
        </li>
    </ul>
</div>
<!-- home:end -->

<!-- team:begin -->
<div class="team">
    <h2>
        Grabs
    </h2>
    <h1>
        Our Team
    </h1>
    <div class="container">
        <ul class="team-members">
            <li>
                <img src="http://labs.sahibinden.com/images/avatars/sercaneraslan.jpg" />
                <h3>
                    Sercan Eraslan
                </h3>
                <span>
                    Front-End Developer
                </span>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. of Quisque ultricies vestibulum molestie. Graphic Design the power of Suspendisse ultricies Graphic Design the power of Suspendisse potenti
                </p>
                <ul class="social">
                    <li>
                        <a href="https://github.com/sercaneraslan/grabs" target="_blank">
                            <i class="fa fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/sercaneraslan/grabs" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/sercaneraslan/grabs" target="_blank">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="alignment-right">
                <img src="http://labs.sahibinden.com/images/avatars/ermanceylan.jpg" />
                <h3>
                    Erman Ceylan
                </h3>
                <span>
                    Front-End Developer
                </span>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. of Quisque ultricies vestibulum molestie. Graphic Design the power of Suspendisse ultricies Graphic Design the power of Suspendisse potenti
                </p>
                <ul class="social">
                    <li>
                        <a href="https://github.com/sercaneraslan/grabs" target="_blank">
                            <i class="fa fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/sercaneraslan/grabs" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/sercaneraslan/grabs" target="_blank">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- team:end -->
