<!doctype html>
<html ng-app="grabs">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="-1">
        <title>Grabs</title>
        <link rel="stylesheet" type="text/css" href="css/common.css">
    </head>
    <body>

        <!-- Include Header -->
        <div ng-include="'/views/common/header.html'"></div>

        <!-- Main Content -->
        <section ng-view></section>

        <!-- Include Footer -->
        <div ng-include="'/views/common/footer.html'"></div>

        <!-- Only Live Mode
        <script type="text/javascript" src="js/common.js"></script>
        -->

        <!-- Only Dev Mode -->
        <script type="text/javascript" src="js/components/angular/angular.js"></script>
        <script type="text/javascript" src="js/components/angular-route/angular-route.js"></script>
        <script type="text/javascript" src="js/config/ng-config.js"></script>
        <script type="text/javascript" src="js/directive/pageTitle.js"></script>
        <script type="text/javascript" src="views/contact/ContactCtrl.js"></script>

        <!-- Only Dev Mode -->
        <script src="http://localhost:35729/livereload.js"></script>
    </body>
</html>
